:root {
    --navigation-hover-color: yellowgreen;
    --navigation-main-color: rebeccapurple;
    --navigation-transition: all .25s linear;
}

.navigation {
    background-color: var(--navigation-main-color);
    position: relative;
}

.navigation li {
    min-width: 100px;
    display: inline-block;
    transition: var(--navigation-transition);
    text-align: center;
    position: relative;
}

.navigation li:hover {
    background-color: var(--navigation-hover-color);
}

.navigation a {
    color: white;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
}

.subNav {
    color: white;
    background-color: var(--navigation-main-color);

    opacity: 0;
    visibility: hidden;

    position: absolute;
    top: 100%;

    transition: var(--navigation-transition);
}

.subNav > li {
    display: block;
}

.navigation > li:hover .subNav {
    opacity: 1;
    visibility: visible;
}

.childNav {
    opacity: 0;
    visibility: hidden;

    background-color: var(--navigation-main-color);

    position: absolute;
    top: 0;
    left: 100%;

    transition: var(--navigation-transition);
}

.subNav > li:hover .childNav {
    opacity: 1;
    visibility: visible;
}
